node_modules
dist
.env
.vscode
.DS_Store
npm-debug.log
logs
tmp

# ESLint cache
.eslintcache

# Prettier cache
.prettiercache

# Coverage directory used by tools like istanbul
coverage

# Build outputs
build
